<!DOCTYPE html>
<html lang="<%= data.site.language %>">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title || data.site.title %></title>
    <meta name="description" content="<%= current_page.data.meta.description || data.site.description %>">
    <link rel="canonical" href="<%= current_page.data.canonical %>" />
    <script>document.getElementsByTagName("html")[0].className += " js";</script>
    <%= stylesheet_link_tag "style" %>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NK8SX6M');</script>
    <!-- End Google Tag Manager -->
  </head>
  <body class="<%= page_classes %>">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NK8SX6M"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%= yield %>
    <%= javascript_include_tag "site.min" %>
  </body>
</html>
